.priority-nav {
  white-space: nowrap;
}

.priority-nav > ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.priority-nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.priority-nav .priority-dropdown-wrapper {
  position: relative;
}

.priority-nav .priority-dropdown-wrapper ul {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  right: 0;
  width: 100px;
  margin: 0;
  padding: 0;
}

.priority-nav .priority-dropdown-wrapper ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.priority-nav .priority-dropdown-wrapper.is-open ul {
  visibility: visible;
}
